<div class="card">
  <div class="card-img-wrapper">
    <img *ngIf="tour.photo" class="card-img-top" src="assets/images/{{tour.photo}}.jpg">
    <img *ngIf="!tour.photo" class="card-img-top" src="assets/images/lviv.jpg">
    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/tour-detail/{{tour.id}}"><i class="far fa-edit"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="far fa-address-book"></i></button>
      </li>
    </ul>

  </div>
  <div class="card-body p-1">
    <h1 class="mb-0">{{tour.tourType}} </h1>

    <p>{{tour.name}}<span *ngIf="tour.name !=''">,</span> {{tour.city}}</p>


    <p *ngIf="tour.supportType !== 'Unsupported'">Guide supported</p>
    <p *ngIf="tour.adultsOnly">Adults only</p>

    <hr class="mt-0 mb-2">

    <h6 class="mb-0">Price: <span class="font-highlight">{{tour.price}} USD</span> |
      Duration:  <span class="font-highlight">{{tour.duration}} days </span> </h6>
  </div>
</div>
