<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>Tours list</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' #Form="ngForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>



              <tab heading="Basic info">
                <div class="form-group col-12">

                  <p>Tour form</p>
                  <div class="btn-group" btnRadioGroup>
                    <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button"
                      name="tourForm">Private</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button"
                      name="tourForm">Group</label>
                  </div>
                  <!-- <div class="error-block" *ngIf="SellRent.invalid && nextClicked">
                Please select sell or rent
              </div> -->
                </div>

                <div class="form-group col-12">
                  <p>Tour type</p>
                  <div class="btn-group" btnRadioGroup name='tourType' [(ngModel)]="tourView.tourType">
                    <label *ngFor="let ttype of tourTypes" class="btn btn-outline-primary mr-2" [btnRadio]="ttype"
                      tabindex="0" role="button" name="tourType">{{ttype}}
                    </label>
                  </div>
                  <!-- <div class="error-block" *ngIf="TType.invalid && nextClicked">
                Please select tour type
              </div> -->
                </div>

                <div class="form-group col-12">
                  <p>Support type</p>
                  <div class="btn-group" btnRadioGroup>
                    <label *ngFor="let stype of supportTypes" class="btn btn-outline-primary mr-2" [btnRadio]="stype"
                      tabindex="0" role="button" name="supportType">{{stype}}
                    </label>
                  </div>
                  <!-- <div class="error-block" *ngIf="SType.invalid && nextClicked">
                Please select support type
              </div> -->
                </div>

                <div class="form-group col-12">
                  <label>City</label>
                  <select #City class="form-control" name="city">
                    <option value=''>--Select city--</option>
                    <option *ngFor="let city of settlementList" value={{city}}>
                      {{city}}
                    </option>
                  </select>
                  <!-- <div class="error-block"
              *ngIf="City.invalid && (nextClicked || City.touched)">
                Please select city
              </div> -->
                </div>

                <div class="form-group col-12">
                  <label>Name</label>
                  <input type="text" class="form-control" #tourName="ngModel" ngModel name="name" required
                    minlength="5"
                    [(ngModel)]="tourView.name">
                  <span *ngIf="!tourName.valid && tourName.touched" class="error-block">
                    <span *ngIf="tourName.errors.required">Please provide name</span>
                    <span *ngIf="tourName.errors.minlength">Name must be atleast 5 char long</span>
                  </span>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1)">Next</button>
                </div>
              </tab>



              <tab heading="Tour pricing">
                <div class="form-group col-12">
                  <label>Total price (in USD)</label>
                  <input type="text" class="form-control" name="price" [(ngModel)]="tourView.price">
                </div>

                <div class="form-group col-12">
                  <label>Tour guide support (in USD)</label>
                  <input type="text" class="form-control" name="supportPrice">
                </div>

                <div class="form-group col-12">
                  <label>Transportation (in USD)</label>
                  <input type="text" class="form-control" name="transportationPrice">
                </div>

                <div class="form-group col-12">
                  <label>Accommodation (in USD)</label>
                  <input type="text" class="form-control" name="accommodationPrice">
                </div>

                <div class="form-group col-12">
                  <label>Food (in USD)</label>
                  <input type="text" class="form-control" name="foodPrice">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2)">Next</button>
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0)">Back</button>
                </div>
              </tab>



              <tab heading="Route">
                <div class="form-group col-12">
                  <label>Country part</label>
                  <input type="text" class="form-control" name="countryPart">
                </div>

                <div class="form-group col-12">
                  <label>Region</label>
                  <input type="text" class="form-control" name="region">
                </div>

                <div class="form-group col-12">
                  <label>Settlements</label>
                  <input type="text" class="form-control" name="settlements">
                </div>

                <div class="form-group col-12">
                  <label>Tour magnets</label>
                  <input type="text" class="form-control" name="magnets">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3)">Next</button>
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1)">Back</button>
                </div>
              </tab>



              <tab heading="Other details">
                <div class="form-group col-12">
                  <label>For adults only?</label><br />
                  <div class="btn-group" btnRadioGroup>
                    <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button" name="adultsOnly">Yes</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button" name="adultsOnly">No</label>
                  </div>
                </div>

                <div class="form-group col-3">
                  <label>Available from</label>
                  <input type="text" class="form-control" bsDatepicker name="availableFrom"
                    [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'MMM DD, YYYY'}">
                </div>

                <div class="form-group col-12">
                  <label>Duration</label>
                  <input type="text" class="form-control" name="duration">
                </div>

                <div class="form-group col-12">
                  <label>Type of accommodation</label>
                  <input type="text" class="form-control" name="accomType">
                </div>

                <div class="form-group col-12">
                  <label>Type of food pantion</label>
                  <input type="text" class="form-control" name="foodPantion">
                </div>

                <div class="form-group col-12">
                  <label>Type of transportation</label>
                  <input type="text" class="form-control" name="transportType">
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6" name="description"></textarea>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(4)">Next</button>
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2)">Back</button>
                </div>
              </tab>



              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button" name="photo">Upload</button> <br>
                    This is under construction
                  </div>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3)">Back</button>
                  <button type="reset" class="btn btn-primary btn-block" (click)="selectTab(3)">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-block" (click)="selectTab(3)">Save</button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your tour preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-tour-card [tour]="tourView" [hideIcons]="true"></app-tour-card>
    </div>
  </div>
</div>
